body {
    background-image: url(/img/T07_baggrund.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.logo{
    width: auto;
    height: 120px;
    margin-top: -40px;
}

.tegning{
    
}

@media (width > 700px) {
    .logo{
        height: 130px;
        margin-top: -40px;
    }
} 