body {
    background-image: url(/img/T07_baggrund-kopi.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.logo{
    width: auto;
    height: 120px;
    margin-top: -40px;
}

.tegning{
    width: auto;
    height: 500px;
}

@media (width > 700px) {
    .logo{
        height: 130px;
        margin-top: -40px;
    }

    .tegning{
        width: 60%;
        height: 900px;
        margin-top: -200px;
        margin-left: 560px;
    }
} 