body {
    background-image: url(/img/T07_baggrund-kopi.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.logo{
    width: auto;
    height: 120px;
    margin-top: -40px;
}

.tegning{
    width: auto;
    height: 500px;
}

@media (width > 700px) {
    .logo{
        height: 230px;
        margin-top: -60px;
    }

    .tegning{
        height: 1200px;
        aspect-ratio: 2/5;
        overflow: hidden;
        object-fit: cover;
        margin-left: 59%;
        margin-top: -15%;
    }
} 