@font-face {
  font-family: H1;
  src: url(/fonts/Caveat-VariableFont_wght-kopi.ttf);
}

* {
  max-width: 100%;
  margin: 0;
}

body {
  background-image: url(/img/T07_baggrund-kopi.webp);
  background-size: cover;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}

.logo {
  width: auto;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.burgermenu {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 6%;
  right: 3.5%;
}

.burgermenu .line {
  width: 30px;
  height: 4px;
  background-color: #a80000;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.nav_links {
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 0;
  right: 1%;
  background-color: #a80000;
  padding-left: 4rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
  list-style-type: none;
  border-radius: 20px;
  margin-top: 20px;
  z-index: 1;
}

.nav_links a {
  text-decoration: none;
  color: #fffefa;
  font-size: 60px;
  transition: color 0.3s ease;
  padding-right: 10rem;
  font-size: 50px;
  font-family: H1;
}

.nav_links a:hover {
  color: rgb(226, 190, 190);
}

.nav_links.show {
  display: flex;
}

.burgermenu.open .line:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 145%;
  right: 0;
  z-index: 2;
  background-color: #fffefa;
  width: 110%;
}

.burgermenu.open .line:nth-child(2) {
  opacity: 0;
}

.burgermenu.open .line:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 145%;
  right: 0;
  z-index: 2;
  background-color: #fffefa;
  width: 110%;
}

.kategoribillede {
  border-radius: 50%;
  border: solid 2px #af272e;
}

.productlistContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.recipe_card {
  gap: 20px;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #4e2323;
  font-family: H1;
  font-size: 30px;
}

h3 {
  color: #4e2323;
  font-family: H1;
  font-size: 25px;
}

a {
  text-decoration: none;
}

h3:hover {
  color: #713b3e;
}

main {
  padding-bottom: 80px;
}

footer {
  background-color: #a80000;
  font-family: H1;
  color: #fffefa;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (width > 700px) {
  .logo {
    height: 100px;
    margin-top: 20px;
    padding-left: 20px;
  }
}
